[Unit]
Description=MQTT Relays
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python/ home/pi/mqttrelay.py
Restart=on-abort


[Install]
WantedBy=multi-user.target
